.beer-list.collection {
  display: flex;
  flex-wrap: wrap;
  border: none;
  justify-content: space-around; }

.beer-list .collection-item {
  width: 300px;
  padding: 10px 2px;
  height: 551px; }
  .beer-list .collection-item .card {
    overflow: hidden;
    height: 100%; }
    .beer-list .collection-item .card .card-content {
      padding: 18px;
      color: black;
      height: 244px;
      overflow: overlay; }
    .beer-list .collection-item .card .card-title {
      font-size: 20px;
      color: #039be5;
      line-height: 30px; }
      .beer-list .collection-item .card .card-title span {
        float: right;
        font-size: 0.8em;
        color: gray; }

.beer-list .card-image img {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 264px;
  margin: auto;
  margin-top: 12px; }

.beer-detail__img {
  height: 400px;
  margin: auto;
  display: block; }

.beer-detail__description {
  font-size: 1.4rem;
  text-align: justify; }

.beer-detail .collection-item--idle {
  cursor: pointer; }

.beer-detail .collection-item--done {
  color: green; }

.beer-detail .collection-item--disable {
  opacity: 0.7;
  cursor: not-allowed; }

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0; }
